kotlin-compiler-*

.build/
DerivedData/
build/
xcuserdata/

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

Carthage/Build/

*.ipa
*.dSYM.zip
*.dSYM

*.hmap

.DS_Store
